CodeSign.xcconfig

UserData/BeebEm4.build
UserData/Debug
UserData/PrecompiledHeaders
UserData/XCBuildData
Build
BeebEm4.xcodeproj/xcuserdata/ianrutt.xcuserdatad/xcdebugger/Breakpoints_v2-CONFLICT-1.xcbkptlist
BeebEm4.xcodeproj/xcuserdata/ianrutt.xcuserdatad/xcdebugger/Breakpoints_v2-CONFLICT-2.xcbkptlist
BeebEm4.xcodeproj/xcuserdata/ianrutt.xcuserdatad/xcdebugger/Breakpoints_v2-CONFLICT-3.xcbkptlist
