CodeSign.xcconfig

UserData/BeebEm4.build
UserData/Debug
UserData/PrecompiledHeaders
UserData/XCBuildData
Build
BeebEm4.xcodeproj/xcuserdata/ianrutt.xcuserdatad/xcdebugger/Breakpoints_v2-CONFLICT-1.xcbkptlist
BeebEm4.xcodeproj/xcuserdata/ianrutt.xcuserdatad/xcdebugger/Breakpoints_v2-CONFLICT-2.xcbkptlist
BeebEm4.xcodeproj/xcuserdata/ianrutt.xcuserdatad/xcdebugger/Breakpoints_v2-CONFLICT-3.xcbkptlist
BeebEm4.xcodeproj/xcshareddata/xcschemes/BeebEm4.xcscheme
UserData/Release/BeebEm4.app/Contents/Info.plist
UserData/Release/BeebEm4.app/Contents/PkgInfo
UserData/Release/BeebEm4.app/Contents/Resources/beebem.icns
UserData/Release/BeebEm4.app/Contents/Resources/DFS image.icns
UserData/Release/BeebEm4.app/Contents/Resources/MainWindow.nib
UserData/Release/BeebEm4.app/Contents/Resources/Z Random BBC file.icns
UserData/Release/BeebEm4.app/Contents/Resources/en.lproj/InfoPlist.strings
